<form action="new" method="POST">
  <div style="display: flex; flex-direction: column; width: 250px">
    <div style="display: flex; justify-content: space-between;">
      <label for="name">Puppy name</label>
      <input type="text" name="name">
    </div>
    <div style="display: flex; justify-content: space-between;">
      <label for="breed">Breed</label>
      <input type="text" name="breed">
    </div>
    <div style="display: flex; justify-content: space-between;">
      <label for="age">Age</label>
      <input type="text" name="age">
    </div>
      <button value="submit">Create your Puppy!</button>
  </div>
</form>
